name: samba-timemachine
services:
  samba-timemachine:
    container_name: samba-timemachine
    environment:
      PUID: "${PUID:-999}"
      PGID: "${PGID:-999}"
      USER: "${USER:-timemachine}"
      PASS: "${PASS:-password}"
      LOG_LEVEL: "${LOG_LEVEL:-1}"
    healthcheck:
      test:
      - CMD-SHELL
      - /goss/goss --gossfile /goss/tests/goss-healthcheck-tests.yaml validate
      timeout: 10s
      interval: 1m0s
      retries: 2
      start_period: 20s
    image: timjdfletcher/samba-timemachine:${IMAGE_VERSION:-latest}
    networks:
      default: null
    ports:
    - mode: ingress
      target: 445
      published: 10445
      protocol: tcp
    restart: unless-stopped
    tty: true
    volumes:
    - type: volume
      source: backups
      target: /backups
      volume: {}
networks:
  default:
    name: samba-timemachine_default
volumes:
  backups:
    name: samba-timemachine_backups
