[global]
workgroup               = WORKGROUP
netbios name            = TIMECAPSULE
security                = user
passdb backend          = tdbsam
smb ports               = 10445
log level               = LOG_LEVEL

# disable things we don't need
server role             = standalone
server services         = -dns, -nbt
load printers           = no
printing                = bsd
printcap name           = /dev/null
disable spoolss         = yes
disable netbios         = yes

# Apple configuration taken from:
# https://wiki.samba.org/index.php/Configure_Samba_to_Work_Better_with_Mac_OS_X and
# https://jansblog.org/2021/05/16/samba-based-timemachine-with-big-sur/
vfs objects                                 = fruit catia acl_xattr streams_xattr
fruit:metadata                              = stream
fruit:model                                 = TimeCapsule6
fruit:posix_rename                          = yes
fruit:veto_appledouble                      = no
fruit:nfs_aces                              = no
fruit:wipe_intentionally_left_blank_rfork   = yes
fruit:delete_empty_adfiles                  = yes

# Security
username map                = /etc/samba/users.map
server min protocol         = SMB3
idmap config * : backend    = tdb
idmap config * : range      = 300000-400000
restrict anonymous          = 2

# Quota setting
max disk size               = QUOTA_IN_MEGABYTES

[Data]
fruit:time machine          = yes
fruit:time machine max size = QUOTA_IN_MEGABYTES MB
browseable                  = Yes
comment                     = Apple TimeMachine Backup Target
inherit acls                = yes
path                        = BACKUPDIR
read only                   = No
spotlight                   = no
valid users                 = USER
writable                    = yes

# vi:syntax=samba
