[global]
workgroup               = WORKGROUP
netbios name            = TIMECAPSULE
security                = user
passdb backend          = tdbsam
smb ports               = 445
log level               = 1

# disable things we don't need
server role             = standalone
server services         = -dns, -nbt
load printers           = no
printing                = bsd
printcap name           = /dev/null
disable spoolss         = yes
disable netbios         = yes

# Time Machine
durable handles             = yes
ea support                  = yes
fruit:aapl                  = yes
fruit:advertise_fullsync    = true
fruit:model                 = TimeCapsule6
kernel oplocks              = no
kernel share modes          = no
map acl inherit             = yes
posix locking               = no
smb2 leases                 = yes
vfs objects                 = catia fruit streams_xattr

# Security
username map            = /etc/samba/users.map
server max protocol     = SMB3
server min protocol     = SMB2
client min protocol     = SMB2
client max protocol     = SMB3
idmap config * : backend = tdb
idmap config * : range = 300000-400000

[Data]
browseable                  = Yes
comment                     = Apple TimeMachine Backup Target
vfs objects                 = catia fruit streams_xattr
fruit:aapl                  = yes
fruit:time machine          = yes
fruit:time machine max size = REPLACE_TM_SIZEB
inherit acls                = Yes
path                        = /backups
read only                   = No
valid users                 = timemachine
writable                    = yes

# vi:syntax=samba
